*,*::after,*::before{
    box-sizing: border-box;
}

:root{
    --cell-heigh: 33vh;
    --cell-width: 33vw;
    --mark-heigh: calc(var(--cell-heigh)*.9);
    --mark-width: calc(var(--cell-width)*.9);
}

body{
    margin: auto;
}
.board{

    width: auto;
    height: auto;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3,auto);
}
.cell.x::before,
.cell.x::after,
.cell.o::before,
.cell.o::after{
    background-color: black;
}
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after,
.board.o .cell:not(.x):not(.o):hover::before
{
   background-color: lightgray !important; 

}
.cell{
    width: var(--cell-width);
    height: var(--cell-heigh);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3){
    border-top: none;
}
.cell:nth-child(3n + 1){
    border-left: none;
}
.cell:nth-child(3n+3){
    border-right: none;
}
.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7){
    border-bottom: none;
}
.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after{
    content: '';
    position: absolute;
    width: calc(var(--mark-width)*.05);
    height: calc(var(--mark-heigh)*1.3);
    border-radius: 45%;
}
.cell.x::before,
.board.x .cell:not(.x):not(.o):hover::before{
    transform: rotate(45deg);
}
.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::after{
    transform: rotate(-45deg);
}
.cell.o::before,
.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after{
    content: '';
    position: absolute;
    border-radius: 50%;

}
.cell.o::before,
.board.o .cell:not(.x):not(.o):hover::before{
    width: calc(var(--mark-heigh)*.9);
    height: calc(var(--mark-heigh)*.9);
}
.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::after{

    width:calc( var(--mark-heigh) *.7);
    height: calc(var(--mark-heigh) *.7);
    background-color: white;
}
.cell.x,
.cell.o{
    cursor: not-allowed;
}
.winning-message{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
}
.winning-message button{
    font-size: 3rem;
    background-color: white;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
}
.winning-message button:hover{
    background-color: rgb(11, 15, 73);
    border-color: white;
    color: white;
}
.show{
    display: flex;
}
